<!DOCTYPE HTML>
<html>
	<head>
		<title>Anonichat Reborn</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/bootstrap.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/customcss.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>Anonichat <b>Reborn</b></h1>
				<p>The ultimate anonymous chat service.</p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form" method="get" action="chat" >
				<div id="push">
					<input type="text" name="name" id="name" placeholder="Screen Name" required/>
					<input type="button" value="Randomise" onclick="randomiseName();"/>
				</div>
				<div>
					<input type="text" name="chatID" id="chatID" placeholder="Chat ID  (leave blank for random ID)" style="text-transform: lowercase;"/>
					<input type="submit" value="Join Chat" onclick="checkChatID();"/>
				</div>
			</form>

		<!-- Footer -->
			<footer id="footer" style="position: initial;">
				<ul class="icons">
					<li><a href="https://twitter.com/ProNinjaCat" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-jpy"><span class="label">Nothing</span></a></li>
					<li><a href="http://github.com/JackRyder" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:me@jackryder.co.uk" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Anonichat Reborn</li><li>Credits: <a href="http://jackryder.co.uk">Jack Ryder</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

			<script src="assets/js/randomise.js"></script>
	</body>
</html>
